<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="bootstrap.min.css")}}?v=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="style.css")}}?v=1">
	<title>BarterBoard by Suruzal</title>
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
<!-- Remove .page wrapper from header so header can be full width -->
	{% include 'header.html' %}
<div class="page" style="margin-top:0;">
	{% if errors %}
	<div class="errors">
	{% for error in errors %}
		<p class="error">
			{{ error }}
		</p>
	{% endfor %}
	</div>
{% endif %}
	<div class="content" style="margin-top:0;">
		{% block body %}{% endblock %}
	</div>
</div>
</body>
</html>
