{% extends 'layout.html' %}
{% block body %}

{{ path|safe }}
<div class="subforumheader">
	<div class="subforumheadertitle">
	{{ subforum.name }} 
	</div>
	--
	<div class="subforumheaderdesc">
	{{ subforum.description }}
	</div>

	{% if subforums %}
		{% for sub in subforums %}
		<div class="subsubforums">
			<div class="subsubforumtitle">
				<a href="/subforum?sub={{ sub.id }}">{{ sub.name }}</a>
			</div>
			<div class="subsubforumdesc">
				{{ sub.description }}
			</div>
		</div>
		{% endfor %}
	{% endif %}
	
	<div class="subforumheaderlink">
		<a href="{% if current_user.is_authenticated %}/addpost?sub={{ subforum.id }}{% else %}/loginform{% endif %}">
			Create a post in <b>{{ subforum.name }}</b>
		</a>
	</div>
</div>

{% if posts.first() %}
	{% for post in posts %}
	<div class="post">
		<div class="posttitle">
			<a href="/viewpost?post={{ post.id }}">{{ post.title }}</a>
		</div>
		<div class="postusername">
			by <b {% if post.author.admin %} style="color: red;" {% endif %}>{{ post.author.username }}</b>
			<div class="date">
				{{ post.get_time_string() }}
			</div>
		</div>
	</div>
	{% endfor %}
{% else %}
<div class="noposts">
	<b>There are no posts in this subforum</b>
</div>
{% endif %}
{% endblock %}